<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/compilation/While_l"
			class = "org.xtext.compilation.while_l.While_lPackage"
			genModel = "model/generated/While_l.genmodel" />
	</extension>
</plugin>
